body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Poiret One', cursive;
  /*font-weight: 100;*/
  /*letter-spacing: 0rem;*/
  color: #646464;
  background-color: #F4F4F4;
}

a {
  color: #323232;
}

#linkedin:hover {
  color: #1E6DB2;
}

#github:hover {
  color: #441869;
}

.header {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0px;
}

.headerImg {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg0 {
  background: url(../img/bg0.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg1 {
  background: url(../img/bg1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  background: url(../img/bg2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 6em;
  font-weight: 100;
  color: #ffffff;
}

.intro {
  margin-top: 64px;
  margin-bottom: 64px;
  font-size: 1.6em;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
}

.project-title {
  margin-top: 64px;
  font-size: 1.6em;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}

.project-desc {
  margin-top: 32px;
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
}

.project-summary {
  text-align: center;
  font-weight: 600;
}

.appstore-badge {
  margin-top: 32px;
  height: 40px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.view-on-github-container {
  display: block;
  text-align: center;
}

.view-on-github {
  margin-top: 32px;
}

.phone {
  margin-top: 64px;
  max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.web {
  margin-top: 64px;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding: 40px;
  text-align: center;
}

.contact-more {
  width: 100%;
  line-height: 2;
  font-size: 1.4em;
}

.contact-img {
  width: 50px;
  height: 50px;
  margin: 8px;
}

@media only screen and (min-width: 40.063em) {  /*foundation medium breakpoint*/

  .intro {
    font-size: 1.6em;
    line-height: 1.8;
  }

  .project-title {
    font-size: 1.6em;
    line-height: 1.0;
    text-align: left;
  }

  .project-desc {
    font-size: 1.2em;
    line-height: 1.0;
    text-align: left;
  }

  .project-summary {
    text-align: left;
  }

  .appstore-badge {
    display: inline;
  }

  .view-on-github-container {
    display: inline;
  }
}
