/* Full Page Image Header Area */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Poiret One', cursive;
  font-weight: 100;
  /*letter-spacing: 0rem;*/
}

.header {
  height: 100%;
  width: 100%;
  position: relative;
}

.headerImg {
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg0 {
  background: url(../img/bg0.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg1 {
  background: url(../img/bg1.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  background: url(../img/bg2.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 6em;
  font-weight: 100;
  color: #ffffff;
}

.project {
  padding: 40px;
}

.project-title {
  padding: 8px;
  font-size: 1.6em;
  line-height: 1.8;
  text-align: center;
}

.project-desc {
  padding: 8px;
  font-size: 1em;
  line-height: 1.2;
  text-align: center;
}

.badge {
  margin: 8px;
  height: 40px;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.phone {
  margin: 8px;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding: 40px;
  background-color: #424242;
  color: #ffffff;
  overflow: hidden;
  text-align: center;
}

.contact-more {
  width: 100%;
  line-height: 2;
  font-size: 0.8em;
}

.contact-img {
  width: 50px;
  height: 50px;
  margin: 8px;
}

#gifa {
  background-color: #202020;
  color: #FBCB00;
  overflow: hidden;
}

#sketcha {
  background-color: #282828;
  color: #EC7399;
  overflow: hidden;
}

#ninejumps {
  background-color: #343434;
  color: #6DC3F0;
  overflow: hidden;
}

/* For mobile phones: */
[class*="col-"] {
  float: left;
  width: 100%;
}
/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

  .project {
    padding: 60px;
    height: 200px;
  }

  .project-title {
    text-align: left;
  }

  .project-desc {
    text-align: left;
  }

  .badge {
    display: inline;
  }

  .phone {
    max-width: 160px;
  }
}
/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .project {
    padding: 80px;
    height: 240px;
  }

  .project-title {
    text-align: left;
  }

  .project-desc {
    text-align: left;
  }

  .badge {
    display: inline;
  }

  .phone {
    max-width: 200px;
  }
}
